:root{
    ---primaryColor: rgb(231, 231, 232);
    ---secondaryColor: white;
    ---color: black;
    ---designColor: rgb(126, 126, 244);
}

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

p{
    font-style: italic;
    font-weight: 500;
}

.error-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

body{
    background-color: var(---primaryColor);
}

nav{
    height: 90px;
    background-color: var(---secondaryColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.nav-center{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 55px;
    width: 100px;
    border: 3px solid var(---color);
    border-radius: 5px;
    gap: 5px;
    color:var(---color);
}

.nav-header:hover{
    background-color: var(---primaryColor);
}

.site-icon{
    font-size: 45px;
    color:var(---designColor);
    cursor: pointer;
}

.title{
    text-align: center;
    font-size: 35px;
    font-family: cursive;
    padding: 15px;
    font-weight: 600;
}

.products-center{
    padding: 15px;
}

ul{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 10px;
}

li{
    height: 300px;
    width: 550px;
    flex: 1 20%;
    background-color: var(---secondaryColor);
    margin: 20px;  
    border-radius: 20px;
    box-shadow: 24px 15px 32px -9px rgba(156, 137, 137, 0.75);
    -webkit-box-shadow: 24px 15px 32px -9px rgba(225, 205, 205, 0.75);
    -moz-box-shadow: 24px 15px 32px -9px rgba(225, 205, 205, 0.75);
    transition:ease-in 0.5s;
    /* overflow: hidden; */
    cursor: pointer;
    position: relative;
}

.img-container{
    display: flex;
    align-items: center;
    height: 75%;
    justify-content: center;
    margin: 10px;
}

.img{
    height: 150px;
    width: 150px;
    transition: ease-out 0.72s;
}

li a .img-container .img:hover{
    height: 200px;
    width: 200px;
}

li:hover{
    box-shadow: 16px 44px 31px 8px rgba(156, 137, 137, 0.75);
    -webkit-box-shadow: 16px 44px 31px 8px rgba(156, 137, 137, 0.75);
    -moz-box-shadow: 16px 44px 31px 8px rgba(156, 137, 137, 0.75);

}

.desc{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: initial;
    gap: 5px;
}

.cart-center{
    position: absolute;
    bottom: 70px;
    right: 0;
    height: 28px;
    width: 70px;
    border: none;
    background-color: var(---designColor);
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    transform: translateX(100%, 100%);
    display: none;
    cursor: pointer;
    transition: all 1s linear;
}

.cart-center.show{
    display: block;
    transform: translate(0, 0);
}

.icon{
    font-size: 15px;
    color: var(---secondaryColor);
}

.itemAddedOnDisplay{
    position: fixed;
    inset: 0;
    background-color: hsl(210, 2%, 16%, .4);
    display: grid;
    z-index: 20;
    height: 100vh;
    transition: .3s;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-point{
    height: auto;
    width: 400px;
    background-color: var(---secondaryColor);
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.center-point h3{
    margin: 10px;
}

.center-point button{
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}

.orange{
    border: 3px solid orange;
    color: orange;
}

.blue{
    border: 3px solid var(---designColor);
    color: var(---designColor);
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:inherit;
}

.inner.center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.img-center{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgg{
    width: 60%;
    height: 70%;
}

.info-center{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-section{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    cursor: pointer;
}

.button-section button{
    height: 50px;
    width: 100px;
    margin: 10px;
}

span{
    max-width: 200px;
}

.carts{
    margin: 200px;
}

@media screen and (min-width: 650px) {
    li{
        overflow: hidden;
    }
}

table{
   width: 100%;
    border-collapse: collapse;
}

th{
    text-transform: uppercase;
    font-weight: 500px;
    letter-spacing: 1px;
}

tbody td{
    text-align: center ;
}

tr{
    height: 40px;
}

.table-img{
    height: 60px;
    width: 60px;
}

.delete{
    border: none;
    font-size: 20px;
    color: orange;
    background-color: transparent;
}

.counter{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60px;
}

.quantitybtn{
    width: 25px;
    height:25px;
    margin: 7px;
}
.totals{
   display: flex;
   flex-direction: column;
    margin: 20px;
    gap: 10px;
    align-items: flex-end;
}

.clearBtn{
    height: 30px;
    width: 100px;
    background-color: transparent;
    border: 2px solid orange;
    color: orange;
    font-size: 15px;
    text-transform: capitalize;
}

.clearBtn:hover{
    background-color: orange;
    color: white;
}

.display-img{
    height: 220px;
    width: 220px;
}